<table class="table table-bordered" id="payments_table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Balance</th>
      <th>Principal repayment </th>
      <th>Interest payment </th>
      <th>Month payment</th>
    </tr>
  </thead>
  <tbody id="payments_tbody">
            
  </tbody>
  <tfoot></tfoot>    
</table>