<%= simple_form_for @new_loan, :url => main_index_path , method: :post do |f|%>
        
  <h4>Personal <small>information</small></h4>
  <hr>

  <div class="form-group form-inline">
    <%= f.input :name, placeholder: 'Name', label: false, class: "form-control" %>
    <%= f.input :last_name, placeholder: 'Last Name', label: false, class: "form-control" %>
  </div>

  <div class="form-group form-inline">
    <%= f.input :phone, placeholder: 'Phone', label: false, class: "form-control" %>
    <%= f.input :personal_id, placeholder: 'Personal ID', label: false, class: "form-control" %>  
  </div>

  <div class="form-group">
    <%= f.input :email, placeholder: 'Email', label: false, class: "form-control" %>
  </div>
  
  <div class="page-header">
    <h4>Loan <small>information</small></h4>
  </div>

  <div class="form-group form-inline">
    <%= f.input :credit_sum, placeholder: "Loan amount", label: false, class: "form-control", :input_html => { :value => '300'}%>
    
    <%= f.select(:credit_period, options_for_select([['6 months',6],['1 year',12],['2 years',24],['3 years',36],['4 years',48],['5 years',60]], :selected => params[:credit_period]), {}, class: "form-control" )%>
    <input type="text" placeholder="10%" class="form-control" style="width:75px"disabled>
  </div>
  
  <hr>
  <%= f.submit 'Confirm' ,class: 'btn btn-success pull-right' %>
  
  <btn class="btn btn-primary">Show payments graphic</btn>
<% end %>
