<div class="col-md-12">
  <h3>Loans</h3>
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Loan Amount</th>
        <th>Loan period</th>
        <th>Loan start date</th>
      </tr>
    </thead>  
    <tbody>
      <% @loans.each do |l| %>
        <tr>
          <td><%= l.name %></td>
          <td><%= l.credit_sum %></td>
          <td><%= l.credit_period %> months</td>
          <td><%= l.credit_start_date %></td>
          <td>
            <%= link_to main_path(l) do %>
              <span class="btn btn-info">
                <i class="fa fa-search"></i>  
              </span>
            <% end %>
          </td>
          <td>
            <%= link_to main_path(l),:method => :delete do %>
              <span class="btn btn-danger">
                <i class="fa fa-times"></i>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>    
    </tbody>
  </table>
</div>