<div class="container">
  <div class="row">
    <hr>
    <div class="col-md-4 well">
      <%= render 'loan_form' %>
    </div>

    <div class="col-md-7 col-md-offset-1 well payments_graphic">
      <h3>Payments <small>graph</small></h3>
      <hr>
      <%= render 'loan_graphic' %>
    </div>
    <% unless @loans.blank? %>
      <%= render 'loans_table' %>
    <% end %>
  
  </div>  
</div>

