<div class="container">
  <div class="row">
    <h3>Payments <small>graph</small></h3>
    <hr>
    <div class="col-md-9 well">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Payment date</th>
            <th>Payment balance</th>
            <th>Princial repayment</th>
            <th>Intress payment</th>
            <th>Monthly paymnet total</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |p| %>
            <tr>
              <td><%= p.payment_date.strftime('%d.%m.%Y') %></td>
              <td><%= p.payment_balance %></td>
              <td><%= p.princial_repayment %></td>
              <td><%= p.intress_payment %></td>
              <td><%= p.monthly_paymnet_total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>